appdirs==1.4.3
coverage==4.3.4
cycler==0.10.0
matplotlib==2.0.0
nose2==0.6.5
numpy==1.12.1
packaging==16.8
pluggy==0.4.0
py==1.4.33
pyparsing==2.2.0
pytest==3.0.7
pytest-cov==2.4.0
pytest-runner==2.11.1
python-dateutil==2.6.0
pytz==2016.10
requests==2.20.0
six==1.10.0
tox==2.6.0
virtualenv==15.1.0
