appdirs==1.4.0
coverage==4.3.4
nose2==0.6.5
packaging==16.8
py==1.4.32
pyparsing==2.1.10
pytest==3.0.6
pytest-cov==2.4.0
pytest-runner==2.11
-e git+ssh://git@bitbucket.org/ssteinerx/python-gtmetrix.git@a7fbe610767aa724e0a24df8418c7046252aaaf7#egg=python_gtmetrix
requests==2.13.0
six==1.10.0
